name: docs-build

on:
  push:
    branches:
      - main
  pull_request_target: ~
  merge_group: ~

jobs:
  docs-preview:
    uses: elastic/docs-builder/.github/workflows/preview-build.yml@main
    with:
      path-pattern: '**'  # Or remove this line to use default
      enable-vale-linting: true
      include-paths: |
        packages/**
    permissions:
      deployments: write
      id-token: write
      contents: read
      pull-requests: write
